<h1> Testando as rotas do angular para navegação </h1>


<button type="button"[disabled]="btnDisabled" (click)="mostrarValor()"> Teste de botão</button> <br/><br/> 


<div>
    <button (click)="trocarBotao()"> clique no botão</button><br/> <br/> 
</div>

<div *ngIf="botaoClicado" style="color:red;"> O botão foi clicado</div>

<label> Digite um nome </label> <br/> <br/> 
<input [(ngModel)]="name"/> <br/> 
<button (click)="adicionar()">Adicionar nome</button><br/> <br/> 
 
<ul *ngFor=" let valor of valores "> 
    <li> {{valor.nome}} </li>
</ul>
